h2 {
  padding-top: 10px;
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
body {
  background-color: powderblue;
}

.titleBox {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 80%;
  left: 20%;
  top: 20%;

  /* bring your own prefixes */
}

.landingMsg {
  width: 79%;
}

.upperSection {
  width: 100%;
  height: 60vh;
  background-color: lightgray;
}
.lowerSection {
  width: 100%;
  height: 32vh;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;

  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.displayGrid {
  margin: 0 auto;
  margin-top: 30px;
  width: 95%;
}

.dataSection {
  padding: 20px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
